:root {
  --conversion-flow-library--medium-purple: #b16cea;
  --conversion-flow-library--light-coral: #ff5e69;
  --conversion-flow-library--coral: #ff8a56;
  --conversion-flow-library--sandy-brown: #ffa84b;
  --white: white;
  --spark-library--black: black;
  --spark-library--foreground-interactive: #5532fa;
  --spark-library--background--interactive: #f0ecfd;
  --spark-library--white: white;
  --spark-library--foreground-interactive-hover: #1e116e;
  --spark-library--light-steel-purple: #a695fb;
  --black: black;
  --spark-library--foreground-secondary: rgba(0, 0, 0, .76);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
}

.cf-floating-white-div {
  background-color: #fff;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cf-floating-scribble {
  z-index: 1;
  position: static;
  top: 10%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.cf-floating-image-container-2 {
  position: absolute;
  top: auto;
  bottom: 10%;
  left: 0%;
  right: auto;
}

.cf-floating-black-div {
  background-color: #0d0e10;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cf-floating-image-container-1 {
  position: absolute;
  top: 10%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.cf-home-center-image {
  z-index: 3;
  width: 80%;
  max-width: 1080px;
  border-radius: 16px;
  position: relative;
}

.cf-home-image-container {
  max-width: 1440px;
  justify-content: center;
  align-items: flex-start;
  margin: 80px auto 180px;
  display: flex;
  position: relative;
}

.cf-button-gradient {
  z-index: auto;
  background-color: #ffa84b;
  background-image: linear-gradient(to right, #b16cea 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cf-call-arrow-down {
  margin-bottom: -18px;
  margin-left: -18px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.cf-cta-arrow-div {
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 16px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 7px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cf-button-text {
  z-index: 1;
  font-family: Montserrat, sans-serif;
  position: relative;
}

.cf-cta-button {
  color: #fff;
  letter-spacing: -.16px;
  background-color: #b16cea;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 26px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cf-cta-button:hover {
  background-color: #b16cea;
}

.cf-cta-button.rectangle {
  border-radius: 16px;
  padding-right: 30px;
}

.cf-22px-paragraph---white {
  max-width: 800px;
  color: rgba(255, 255, 255, .9);
  text-align: center;
  margin-bottom: 48px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 155%;
}

.cf-gradient-span {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #b16cea 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat, sans-serif;
}

.cf-82px-heading {
  max-width: 990px;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 82px;
  font-weight: 700;
  line-height: 100%;
}

.cf-1140px-wrapper---home-vertical {
  width: 90%;
  max-width: 1140px;
  border-radius: 10px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}

.cf-hero-section-3 {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, .55), rgba(255, 255, 255, .55)), url('../images/hot_air_balloons.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  align-items: center;
  margin-top: -90px;
  display: flex;
}

.cf-nav-2-button {
  color: #f0f9f5;
  letter-spacing: .4px;
  background-color: #000;
  border-radius: 12px;
  padding: 16px 36px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: background-color .23s;
}

.cf-nav-2-button:hover {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, var(--conversion-flow-library--medium-purple) 18%, var(--conversion-flow-library--light-coral) 60%, var(--conversion-flow-library--coral) 82%, var(--conversion-flow-library--sandy-brown));
}

.cf-navigation-right-contain {
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.cf-navigation-2-link {
  letter-spacing: .2px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: color .26s;
  display: flex;
}

.cf-navigation-2-link:hover {
  color: var(--conversion-flow-library--medium-purple);
}

.cf-navigation-2-link.w--current {
  color: #007e60;
}

.cf-nav-underline {
  width: 100%;
  height: 2px;
  background-color: #0b141f;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cf-nav-arrow-icon {
  width: 24px;
  height: 24px;
}

.cf-resource-block-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.cf-nav-visual-text-block {
  align-items: center;
  padding-bottom: 5px;
  display: flex;
  position: relative;
}

.cf-resource-visual {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cf-resource-visual-block {
  max-width: 80px;
  margin-bottom: 32px;
}

.cf-resource-visual-item {
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.cf-resources-visual-grid {
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.cf-nav-dropdown-title-para {
  color: #0b141f;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.cf-nav-dropdown-title {
  color: #0b141f;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
}

.cf-nav-dropdown-top {
  border-bottom: 1px solid rgba(11, 20, 31, .3);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 45px;
  display: flex;
}

.cf-navigation-drop-container {
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  overflow: hidden;
}

.cf-dropdown-list-contain {
  width: 100%;
  max-width: none;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 30px 100px rgba(64, 69, 79, .1);
}

.cf-dropdown-list-nav {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  top: 80px;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .08);
}

.cf-dropdown-list-nav.w--open {
  width: 100%;
  box-shadow: none;
  padding-top: 25px;
  top: 55px;
  overflow: visible;
}

.cf-dropdown-arrow---nav-3 {
  margin-right: 0;
  font-size: 14px;
  position: static;
}

.cf-dropdown-toggle-div {
  grid-column-gap: 10px;
  color: #04121f;
  padding: 0;
  transition: color .2s;
  display: flex;
}

.cf-dropdown-toggle-div:hover {
  color: var(--conversion-flow-library--medium-purple);
  font-weight: 500;
}

.cf-dropdown-wrapper {
  position: static;
}

.cf-visual-features-item-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  font-family: Montserrat, sans-serif;
}

.cf-nav-visual-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cf-visual-features-item-image {
  width: 100%;
  height: 150px;
  margin-bottom: 28px;
  overflow: hidden;
}

.cf-visual-features-item {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.cf-visual-features-item.navbar {
  color: #0d0e10;
  background-color: #fff;
  border-radius: 0;
  padding: 40px;
  text-decoration: none;
}

.cf-visual-features-item.navbar:hover {
  background-color: #fafafa;
}

.cf-visual-features-item.navbar {
  color: #0d0e10;
  background-color: #fff;
  border-radius: 0;
  padding: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 125%;
}

.cf-visual-features-item.navbar:hover {
  background-color: #fafafa;
}

.cf-visual-features-items-container {
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.cf-visual-features-items-container.price-nav {
  grid-column-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cf-visual-features-items-container.nav {
  grid-column-gap: 0px;
  grid-column-gap: 0px;
}

.cf-nav-2-menu {
  grid-column-gap: 32px;
  color: #283338;
  align-items: center;
  margin-left: 20px;
  margin-right: auto;
  font-size: 15px;
  display: flex;
  position: static;
}

.cf-navigation-logo {
  object-fit: contain;
}

.cf-brand-2 {
  width: auto;
  height: 40px;
  object-fit: contain;
  justify-content: flex-start;
  padding-left: 0;
  display: flex;
}

.cf-navigation-2-left-contain {
  align-items: center;
  display: flex;
}

.cf-navigation-2-wrapper {
  width: 95%;
  height: 100%;
  max-width: 1340px;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: static;
}

.cf-navigation-2-bar {
  width: 100%;
  background-color: rgba(221, 221, 221, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.cf-logos-social {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cf-logos-social:hover {
  background-color: var(--white);
}

.cf-logos-social.open-nav {
  width: 76px;
  height: 76px;
}

.cf-logos-social.open-nav-middle {
  width: 76px;
  height: 76px;
  margin-left: 40px;
  margin-right: 40px;
}

.cf-nav-4-social-icons {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin-right: 40px;
  display: flex;
}

.cf-nav-4-social-icons.open-navigation {
  margin-top: 40px;
  margin-right: 0;
}

.cf-connect-text {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.cf-connect-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 135px;
  display: flex;
}

.cf-link-text-navbar-4 {
  letter-spacing: -.8px;
  margin-left: 0;
}

.cf-pink-line {
  width: 46px;
  height: 2px;
  background-color: #ff4f11;
  margin-right: 20px;
}

.cf-pink-line.animate {
  width: 0;
  background-color: var(--conversion-flow-library--light-coral);
  margin-right: 20px;
}

.cf-navigation-4-link {
  color: #000;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 187%;
  text-decoration: none;
  display: flex;
}

.cf-navigation-4-link.w--current {
  color: #1c0309;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.cf-nav-4-links-right-container {
  width: 230px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0;
  display: flex;
}

.cf-nav-4-links-left-container {
  width: 230px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
  display: flex;
}

.cf-nav-4-links-container {
  width: auto;
  justify-content: space-between;
  margin-top: 460px;
  margin-left: 60px;
  display: flex;
}

.cf-close-text {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.cf-close-contain {
  width: 27px;
  height: 27px;
  background-image: none;
  background-position: 50%;
  background-size: auto;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.cf-close-button {
  cursor: pointer;
  background-color: #fff;
  align-items: center;
  padding: 25px 44px;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 58px;
  bottom: auto;
  left: auto;
  right: 111px;
}

.cf-close-button:hover {
  opacity: .8;
}

.cf-brand-logo-nav-menu {
  cursor: pointer;
  position: absolute;
  top: 60px;
  bottom: auto;
  left: 85px;
  right: auto;
}

.cf-brand-logo-nav-menu.w--current {
  position: absolute;
  top: 60px;
  bottom: auto;
  left: 85px;
  right: auto;
}

.cf-menu-navigation-wrap {
  z-index: 10000000;
  width: 100vw;
  height: 100%;
  opacity: 0;
  background-color: #e9e9e9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 111px 150px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.cf-menu-line._2 {
  width: 26.5px;
  height: 2px;
  color: #000;
  background-color: #1c0309;
  margin-bottom: 0;
  transform: scale(1);
}

.cf-menu-line._1 {
  width: 14px;
  height: 2px;
  color: #000;
  background-color: #1c0309;
  margin-bottom: 10px;
  transform: translate(0);
}

.cf-menu-icon {
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  display: flex;
}

.cf-menu-text {
  color: #000;
  letter-spacing: .8px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 125%;
}

.cf-nav-4-menu {
  cursor: pointer;
  align-items: center;
  display: flex;
  position: relative;
}

.cf-nav-4-menu:hover {
  opacity: 1;
}

.cf-nav-4-right-container {
  align-items: stretch;
  display: flex;
}

.cf-brand-logo-4 {
  cursor: pointer;
}

.cf-navigation-4-container {
  z-index: 999;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
}

.container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}

.container.flex {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container.form {
  flex-direction: column;
  align-items: center;
}

.cf-logos-social-2 {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cf-logos-social-2:hover {
  background-color: var(--conversion-flow-library--sandy-brown);
}

.cf-logos-social-2.open-nav {
  width: 76px;
  height: 76px;
}

.cf-logos-social-2.open-nav-middle {
  width: 76px;
  height: 76px;
  margin-left: 40px;
  margin-right: 40px;
}

.cf-navigation-4-container-2 {
  width: 95%;
  max-width: 1340px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.spark-line-3 {
  z-index: 2;
  width: 35px;
  height: 2px;
  background-color: var(--spark-library--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

.spark-line-3.spark-simple-line {
  width: 12.75px;
  height: 3.3px;
  background-color: var(--spark-library--foreground-interactive);
  border-radius: 3px;
  margin-left: 18px;
  top: 38px;
}

.spark-line-2 {
  z-index: 1;
  width: 35px;
  height: 2px;
  background-color: var(--spark-library--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.spark-line-2.spark-simple-line {
  width: 24px;
  height: 3.3px;
  background-color: var(--spark-library--foreground-interactive);
  border-radius: 3px;
  top: 28px;
}

.spark-line-1 {
  z-index: 2;
  width: 35px;
  height: 2px;
  background-color: var(--spark-library--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.spark-line-1.spark-simple-line {
  width: 24px;
  height: 3.3px;
  background-color: var(--spark-library--foreground-interactive);
  border-radius: 3px;
  top: 18px;
}

.spark-simple-menu-button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 0 0 0 18px;
  overflow: hidden;
}

.spark-simple-menu-button.w--open {
  background-color: var(--spark-library--background--interactive);
  border-radius: 8px;
}

.spark-nav-link {
  color: var(--spark-library--black);
  text-align: center;
  border-radius: 8px;
  margin-left: 8px;
  padding: 16px 15px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  transition: background-color .15s, color .15s, opacity .15s;
}

.spark-nav-link:hover {
  opacity: 1;
  color: #fff;
  background-color: #6c5a46;
}

.spark-nav-link.w--current {
  color: var(--white);
  background-color: #6c5a46;
}

.spark-nav-link.spark-button {
  color: var(--spark-library--white);
  text-align: center;
  background-color: rgba(0, 0, 0, .69);
  border-style: none;
  border-radius: 999px;
  margin-left: 15px;
  margin-right: 0;
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
  transition: background-color .15s, opacity .15s;
}

.spark-nav-link.spark-button:hover {
  opacity: 1;
  color: var(--spark-library--white);
  background-color: #6c5a46;
}

.spark-nav-link.spark-button.w--current {
  opacity: 1;
  background-color: #6c5a46;
}

.spark-button {
  border: 1px solid var(--spark-library--foreground-interactive);
  background-color: var(--spark-library--foreground-interactive);
  color: var(--spark-library--white);
  border-radius: 8px;
  flex: none;
  padding: 16px;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1em;
  text-decoration: none;
  transition: border-color .15s, background-color .15s, opacity .15s;
}

.spark-button:hover {
  border-color: var(--spark-library--foreground-interactive-hover);
  background-color: var(--spark-library--foreground-interactive-hover);
  opacity: 1;
}

.spark-button.spark-secondary-button {
  background-color: var(--spark-library--background--interactive);
  box-shadow: inset 0 0 0 1.5px var(--spark-library--foreground-interactive);
  color: var(--spark-library--foreground-interactive);
  border-style: none;
  text-decoration: none;
  transition: color .15s, box-shadow .15s, border-color .15s, background-color .15s, opacity .15s;
}

.spark-button.spark-secondary-button:hover {
  background-color: var(--spark-library--light-steel-purple);
  box-shadow: inset 0 0 0 1.5px var(--spark-library--light-steel-purple);
  color: var(--spark-library--foreground-interactive-hover);
}

.spark-nav-menu {
  align-items: center;
  display: flex;
}

.spark-brand-logo {
  z-index: 2;
  margin-left: 10px;
}

.spark-rounded-edge-nav-bar-inner {
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.spark-rounded-edge-navbar {
  z-index: 99;
  width: 95%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 999px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, .1);
}

.body {
  background-color: #fff;
}

.spark-flex-row {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.spark-flex-row.spark-centered {
  grid-column-gap: 24px;
  justify-content: center;
}

.spark-hero-sub-paragraph {
  width: 100%;
  margin-bottom: 64px;
}

.spark-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.spark-container.spark-centered-content {
  max-width: 700px;
  text-align: center;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 79px;
  display: flex;
  position: static;
}

.spark-centered-content {
  text-align: center;
}

.spark-line-4 {
  z-index: 1;
  width: 35px;
  height: 2px;
  background-color: var(--spark-library--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.spark-line-4.spark-simple-line {
  width: 24px;
  height: 3.3px;
  background-color: var(--spark-library--foreground-interactive);
  border-radius: 3px;
  top: 28px;
}

.spark-line-5 {
  z-index: 2;
  width: 35px;
  height: 2px;
  background-color: var(--spark-library--black);
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.spark-line-5.spark-simple-line {
  width: 24px;
  height: 3.3px;
  background-color: var(--spark-library--foreground-interactive);
  border-radius: 3px;
  top: 18px;
}

.spark-nav-link-2 {
  color: var(--spark-library--black);
  text-align: center;
  border-radius: 8px;
  margin-left: 8px;
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: background-color .15s, color .15s, opacity .15s;
}

.spark-nav-link-2:hover {
  background-color: var(--spark-library--background--interactive);
  opacity: 1;
  color: var(--spark-library--foreground-interactive);
}

.spark-nav-link-2.w--current {
  color: var(--spark-library--foreground-interactive);
}

.spark-nav-link-2.spark-button {
  background-color: var(--spark-library--foreground-interactive);
  color: var(--spark-library--white);
  text-align: center;
  border-style: none;
  border-radius: 999px;
  margin-right: 0;
  padding: 16px 24px;
  font-size: 1rem;
  line-height: 1em;
  transition: background-color .15s, opacity .15s;
}

.spark-nav-link-2.spark-button:hover {
  background-color: var(--spark-library--foreground-interactive-hover);
  opacity: 1;
  color: var(--spark-library--white);
}

.spark-nav-link-2.spark-button.w--current {
  opacity: .5;
  color: var(--spark-library--white);
}

.spark-brand-logo-2 {
  z-index: 2;
  padding-left: 0;
}

.spark-square-menu-inner {
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.spark-square-menu-with-links {
  width: 100%;
  background-color: var(--spark-library--white);
  padding-left: 64px;
  padding-right: 64px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.spark-section {
  width: 100%;
  padding-top: 176px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  position: relative;
}

.spark-section.spark-hero-background-image-with-centered-content {
  height: 100vh;
  grid-column-gap: 41px;
  grid-row-gap: 41px;
  background-image: url('../images/DSC07954.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -81px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: static;
}

.spark-section h5 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
}

.spark-section h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.spark-section h1 {
  max-width: 16ch;
  color: #fefefe;
  text-align: center;
  background-color: rgba(79, 79, 79, .51);
  border-radius: 10px;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

.spark-section h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.spark-section h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

.spark-section h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: .8125rem;
  font-weight: 700;
  line-height: 1.5;
}

.spark-section ul {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-left: 14px;
}

.spark-section li {
  margin-bottom: .5rem;
}

.sm-icon-link {
  color: #000;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .25s;
  display: flex;
}

.sm-icon-link:hover {
  opacity: .8;
}

.sm-icon {
  width: 32px;
  height: auto;
  object-fit: cover;
}

.sm-text.sm-text-light {
  color: #fff;
}

.sm-icon-link-2 {
  min-height: 65px;
  color: #000;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .25s;
  display: flex;
}

.sm-icon-link-2:hover {
  opacity: .8;
}

.section {
  height: 100vh;
}

.heading {
  margin-bottom: 26px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}

.div-block {
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph {
  font-size: 50px;
}

.paragraph-2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  line-height: 1.1;
}

.left-cell {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #4f4d4d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.left-cell.background {
  border-radius: 0;
  padding-top: 0;
}

.left-cell.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.middle-cell {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #e8eaed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.middle-cell.bacground {
  border-radius: 0;
  padding-top: 0;
}

.middle-cell.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.right-cell {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.right-cell.bacground {
  border-radius: 0;
  padding-top: 0;
}

.right-cell.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.quick-stack {
  height: 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}

.quick-stack.background {
  height: 15px;
  margin-top: -15px;
}

.text-block {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}

.text-block.black {
  color: #000;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.paragraph-card {
  color: #fff;
  text-align: left;
  font-family: Montserrat, sans-serif;
  line-height: 1.3;
}

.paragraph-card.middle {
  color: #000;
  font-family: Montserrat, sans-serif;
}

.paragraph-card.middle.footer {
  text-align: left;
}

.paragraph-card.middle.footer.right {
  color: #fff;
}

.paragraph-card.cards {
  text-align: left;
  margin-top: -29px;
  font-size: 16px;
}

.paragraph-card.opravneni {
  font-size: 20px;
}

.paragraph-content {
  text-align: center;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.8;
}

.heading-2 {
  text-align: center;
  margin-bottom: 32px;
}

.heading-2.o-nas {
  margin-top: 120px;
}

.section-2 {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.section-2.flex {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.section-2.nabidka {
  justify-content: flex-end;
  display: flex;
}

.section-2.tym {
  display: flex;
}

.section-2.o-nas {
  height: auto;
}

.cell-tym {
  background-color: #e8eaed;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name-text-block {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
}

.paragraph-3 {
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.link-block {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  color: #000;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.modal-wrapper {
  z-index: 99;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-background {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .55);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-card {
  max-width: 60%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #444;
  border-radius: 10px;
  align-items: center;
  padding: 30px;
  display: flex;
  position: absolute;
}

.modal-text-block {
  color: #fff;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
}

.paragraph-4 {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.div-block-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.modal__highlight {
  color: #185bdc;
  font-weight: 700;
}

.modal {
  z-index: 999;
  background-color: rgba(0, 0, 0, .68);
  justify-content: center;
  align-items: center;
  padding: 24px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal__icon {
  width: 112px;
  height: 112px;
}

.modal__text-wrap {
  color: #443e5b;
  letter-spacing: .7px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.container-2 {
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.section-3 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal__body {
  max-width: 494px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 48px;
  display: block;
  position: relative;
  overflow: hidden;
}

.modal__heading {
  color: #100a29;
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 62px;
  line-height: 1.4em;
}

.modal__close {
  width: 24px;
  height: 24px;
  opacity: .8;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__close:hover {
  opacity: 1;
}

.modal__text-m {
  color: #443e5b;
  letter-spacing: .7px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  display: none;
}

.modal__text {
  color: #443e5b;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.btn {
  height: 56px;
  color: #100a29;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fee876;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 24px 15px 64px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  transition: box-shadow .2s, background-color .2s;
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 4px rgba(15, 5, 52, .2), 0 3px 24px rgba(15, 5, 52, .5);
}

.btn:hover {
  background-color: #fde151;
  box-shadow: 0 5px 7px rgba(15, 5, 52, .15), 0 3px 24px rgba(15, 5, 52, .8);
}

.btn__icon-wrap {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, .08);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 4px;
  left: 4px;
}

.image {
  width: 37px;
}

.close {
  width: 50px;
  cursor: pointer;
  padding: 10px;
}

.image-3 {
  max-width: 40%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
}

.image-4 {
  max-width: 30%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.div-block-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.link-block-email {
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}

.link-block-email.right {
  color: #fff;
  text-decoration: underline;
}

.link-block-email.middle {
  margin-top: -37px;
}

.text-block-2 {
  font-size: 21px;
}

.text-block-2.middle {
  font-size: 16px;
  text-decoration: underline;
}

.link-block-heading {
  color: #000;
  text-decoration: underline;
}

.link-block-heading.right {
  color: #fff;
}

.text-block-heading {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}

.text-block-heading.black {
  color: #000;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.text-block-heading-no-hover {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}

.text-block-heading-no-hover.black {
  color: #000;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.middle-cell-no-hover {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #e8eaed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.middle-cell-no-hover.bacground {
  border-radius: 0;
  padding-top: 0;
}

.middle-cell-no-hover.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.right-cell-no-hover {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.right-cell-no-hover.bacground {
  border-radius: 0;
  padding-top: 0;
}

.right-cell-no-hover.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.left-cell-no-hover {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #4f4d4d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  padding-top: 112px;
  padding-left: 30px;
  padding-right: 30px;
}

.left-cell-no-hover.background {
  border-radius: 0;
  padding-top: 0;
}

.left-cell-no-hover.cards {
  align-items: flex-start;
  padding-top: 67px;
}

.div-block-4 {
  justify-content: center;
  display: flex;
}

.form-block {
  width: 100%;
  max-width: 600px;
}

.textarea {
  min-height: 80px;
  border: 1px solid #000;
}

.button {
  background-color: rgba(0, 0, 0, .69);
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 24px;
  font-size: 1rem;
  display: block;
}

.button:hover {
  color: #fff;
  background-color: #6c5a46;
}

.form-2 {
  padding-bottom: 30px;
  position: relative;
}

.modal-wrapper-2 {
  z-index: 99;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-wrapper-3, .modal-wrapper-4 {
  z-index: 99;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-background-2 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .55);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.close-2 {
  width: 50px;
  cursor: pointer;
  padding: 10px;
}

.modal-background-3 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .55);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.close-3 {
  width: 50px;
  cursor: pointer;
  padding: 10px;
}

.modal-background-4 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .55);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.close-4 {
  width: 50px;
  cursor: pointer;
  padding: 10px;
}

.div-block-5 {
  justify-content: center;
  margin-top: 30px;
  display: flex;
}

.lightbox-link {
  width: 24%;
  padding-left: 5px;
  padding-right: 5px;
}

.lightbox-link.last {
  width: 0%;
}

.gallery {
  border-radius: 10px;
}

.heading-hero {
  background-color: rgba(255, 255, 255, .35);
  margin-bottom: 0;
  padding: 30px;
}

.social-image {
  width: 30px;
}

.social-link {
  margin-left: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.div-block-6 {
  width: 80px;
  height: 80px;
  color: #333;
  border: 2px solid #000;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color .2s, background-color .2s;
  display: flex;
  position: absolute;
  right: -95px;
  top: 320px;
}

.div-block-6:hover {
  color: #fff;
  background-color: #000;
}

.nahoru-button {
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.text-field {
  border: 1px solid #000;
}

@media screen and (max-width: 991px) {
  .cf-home-center-image {
    width: 90%;
  }

  .cf-82px-heading {
    font-size: 70px;
  }

  .cf-1140px-wrapper---home-vertical {
    flex-direction: column;
  }

  .cf-navigation-2-link {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .cf-resource-visual-block {
    max-width: 60px;
    margin-bottom: 20px;
  }

  .cf-resource-visual-item {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .cf-resources-visual-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .cf-nav-dropdown-title-para {
    font-size: 15px;
  }

  .cf-nav-dropdown-title {
    font-size: 40px;
  }

  .cf-nav-dropdown-title-container {
    max-width: 280px;
  }

  .cf-navigation-drop-container {
    flex-direction: column;
  }

  .cf-dropdown-list-contain {
    box-shadow: none;
    padding: 0;
  }

  .cf-dropdown-list-nav.w--open {
    width: 90%;
    min-width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0;
    position: relative;
    top: 0;
  }

  .cf-dropdown-arrow---nav-3 {
    margin-left: 7px;
    margin-right: 0;
    position: relative;
  }

  .cf-dropdown-toggle-div {
    width: 90%;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: flex;
  }

  .cf-visual-features-item.navbar {
    padding: 25px;
  }

  .cf-visual-features-items-container {
    max-width: 500px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .cf-visual-features-items-container.nav {
    width: 100%;
    max-width: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    margin-left: 0;
    display: grid;
  }

  .cf-nav-2-menu {
    background-color: #fff;
    display: none;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  .cf-navigation-2-left-contain {
    display: flex;
  }

  .cf-navigation-2-wrapper {
    width: 90%;
  }

  .cf-connect-wrapper {
    margin-top: 100px;
  }

  .cf-nav-4-links-left-container {
    margin-right: 140px;
  }

  .cf-nav-4-links-container {
    margin-left: 0;
  }

  .cf-close-contain {
    background-image: none;
    background-position: 50%;
    background-size: auto;
  }

  .cf-close-button {
    top: 52px;
    right: 85px;
  }

  .cf-menu-navigation-wrap {
    opacity: 0;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 85px;
    display: none;
  }

  .cf-navigation-4-container, .cf-navigation-4-container-2 {
    max-width: 650px;
  }

  .spark-line-3.spark-simple-line {
    width: 12.75px;
    height: 3.33px;
    background-color: #6c5a46;
    border-radius: 3px;
    margin-left: 0;
    left: 18px;
  }

  .spark-line-2.spark-simple-line {
    width: 24px;
    height: 3.33px;
    background-color: #6c5a46;
    border-radius: 3px;
  }

  .spark-line-1.spark-simple-line {
    width: 24px;
    height: 3.33px;
    background-color: #6c5a46;
    border-radius: 2px;
  }

  .spark-simple-menu-button {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 18px;
  }

  .spark-simple-menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .spark-nav-link {
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .spark-nav-link.spark-button {
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .spark-nav-menu {
    z-index: 99;
    background-color: var(--spark-library--white);
    border-bottom-right-radius: 42px;
    border-bottom-left-radius: 42px;
    margin-top: 0;
    padding: 2rem 1rem 1rem;
  }

  .spark-nav-menu.spark-rounded-corners {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .75);
    border-radius: 40px;
    margin-top: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, .17);
  }

  .spark-rounded-edge-nav-bar-inner {
    padding: 0;
  }

  .spark-rounded-edge-navbar {
    padding-left: 32px;
    padding-right: 32px;
    top: 15px;
  }

  .spark-line-4.spark-simple-line {
    width: 24px;
    height: 3.33px;
    background-color: var(--spark-library--foreground-interactive);
    border-radius: 3px;
  }

  .spark-line-5.spark-simple-line {
    width: 24px;
    height: 3.33px;
    background-color: var(--spark-library--foreground-interactive);
    border-radius: 2px;
  }

  .spark-nav-link-2 {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .spark-nav-link-2.spark-button {
    text-align: center;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .spark-square-menu-inner {
    padding: 0;
  }

  .spark-square-menu-with-links {
    padding-left: 32px;
    padding-right: 32px;
  }

  .spark-section {
    padding-top: 104px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .spark-section.spark-hero-background-image-with-centered-content {
    padding-top: 110px;
  }

  .sm-icon-link, .sm-icon-link-2 {
    margin-right: 16px;
  }

  .section {
    height: auto;
  }

  .div-block {
    justify-content: center;
    align-items: center;
  }

  .middle-cell {
    align-items: center;
  }

  .text-block, .text-block.black {
    text-align: center;
  }

  .section-2 {
    height: auto;
    margin-top: 33px;
    padding-top: 0;
  }

  .section-2.flex {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 0;
  }

  .modal-card {
    max-width: 90%;
  }

  .modal__text-m {
    display: block;
  }

  .modal__text {
    display: none;
  }

  .social-link {
    margin-bottom: 1rem;
  }

  .social-link.language {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .cf-floating-white-div {
    display: none;
  }

  .cf-floating-scribble {
    width: 80%;
  }

  .cf-floating-image-container-2 {
    justify-content: flex-start;
    display: flex;
    bottom: -17%;
    left: -8%;
    transform: rotate(-23deg);
  }

  .cf-floating-black-div {
    display: none;
  }

  .cf-floating-image-container-1 {
    justify-content: flex-end;
    display: flex;
    top: -25%;
  }

  .cf-home-image-container {
    margin-bottom: 140px;
  }

  .cf-button-gradient, .cf-cta-button, .cf-22px-paragraph---white {
    font-size: 20px;
  }

  .cf-82px-heading {
    font-size: 50px;
  }

  .cf-1140px-wrapper---home-vertical {
    width: 90%;
  }

  .cf-resource-block-text {
    font-size: 20px;
  }

  .cf-resource-visual-block {
    width: 30%;
  }

  .cf-resource-visual-item {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .cf-resources-visual-grid {
    grid-column-gap: 30px;
  }

  .cf-nav-dropdown-title-container {
    margin-bottom: 20px;
  }

  .cf-nav-dropdown-top {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
  }

  .cf-dropdown-list-nav.w--open {
    width: 90%;
  }

  .cf-visual-features-item-heading {
    font-size: 23px;
  }

  .cf-visual-features-item-image {
    margin-bottom: 20px;
  }

  .cf-visual-features-item.navbar.w--current {
    padding: 14px;
  }

  .cf-visual-features-items-container {
    width: 100%;
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .cf-visual-features-items-container.nav {
    max-width: 400px;
    grid-template-columns: 1fr;
  }

  .cf-center-logo.open-nav {
    width: 22px;
  }

  .cf-center-logo.open-nav.facebook {
    width: 15px;
  }

  .cf-logos-social.open-nav, .cf-logos-social.open-nav-middle {
    width: 60px;
    height: 60px;
  }

  .cf-nav-4-social-icons {
    margin-right: 20px;
    display: none;
  }

  .cf-nav-4-social-icons.open-navigation {
    display: flex;
  }

  .cf-connect-wrapper {
    margin-left: 20px;
  }

  .cf-link-text-navbar-4 {
    font-size: 26px;
  }

  .cf-nav-4-links-right-container {
    width: auto;
    align-items: center;
  }

  .cf-nav-4-links-left-container {
    width: auto;
    align-items: center;
    margin-right: 20px;
  }

  .cf-nav-4-links-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 650px;
  }

  .cf-close-text {
    display: none;
  }

  .cf-close-contain {
    background-image: none;
    background-position: 50%;
    background-size: auto;
    margin-right: 0;
  }

  .cf-close-button {
    border-radius: 100px;
    padding: 16px;
    top: 52px;
    right: 60px;
  }

  .cf-brand-logo-nav-menu {
    padding-left: 0;
    top: 52px;
    left: 60px;
  }

  .cf-brand-logo-nav-menu.w--current {
    left: 60px;
  }

  .cf-menu-navigation-wrap {
    opacity: 0;
    padding-left: 60px;
    padding-right: 60px;
    display: none;
  }

  .cf-navigation-4-container {
    width: 90%;
    max-width: 550px;
  }

  .cf-logos-social-2.open-nav, .cf-logos-social-2.open-nav-middle {
    width: 60px;
    height: 60px;
  }

  .cf-navigation-4-container-2 {
    width: 90%;
    max-width: 550px;
  }

  .spark-nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .spark-nav-menu {
    max-height: 90vh;
    overflow: scroll;
  }

  .spark-nav-menu.spark-rounded-corners {
    overflow: hidden;
  }

  .spark-rounded-edge-nav-bar-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .spark-rounded-edge-navbar {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .spark-flex-row {
    flex-direction: column;
  }

  .spark-flex-row.spark-centered {
    flex-direction: row;
  }

  .spark-hero-sub-paragraph {
    margin-bottom: 32px;
  }

  .spark-container {
    width: 100%;
  }

  .spark-container.spark-centered-content {
    padding: 25px;
  }

  .spark-nav-link-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .spark-square-menu-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .spark-square-menu-with-links {
    padding-left: 20px;
    padding-right: 20px;
  }

  .spark-section {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .spark-section.spark-hero-background-image-with-centered-content {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .spark-section h1 {
    font-size: 3rem;
  }

  .section {
    height: auto;
    margin-bottom: 233px;
  }

  .left-cell, .middle-cell, .right-cell {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading-2 {
    margin-bottom: 18px;
  }

  .section-2.nabidka {
    margin-top: 400px;
  }

  .name-text-block {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .middle-cell-no-hover.cards, .right-cell-no-hover.cards, .left-cell-no-hover.cards {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .quick-stack-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-5 {
    flex-wrap: wrap;
    display: flex;
  }

  .lightbox-link {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .div-block-6 {
    background-color: #fff;
    top: 388px;
    right: 6px;
  }
}

@media screen and (max-width: 479px) {
  .cf-home-image-container {
    margin-bottom: 100px;
  }

  .cf-cta-arrow-div {
    flex: none;
  }

  .cf-button-text {
    flex: none;
    font-size: 18px;
  }

  .cf-cta-button {
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .cf-cta-button.rectangle {
    padding-left: 50px;
  }

  .cf-22px-paragraph---white {
    font-size: 18px;
  }

  .cf-gradient-span {
    line-height: 110%;
  }

  .cf-82px-heading {
    font-size: 40px;
  }

  .cf-nav-2-button {
    border-radius: 8px;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 18px;
  }

  .cf-nav-arrow-icon {
    width: 20px;
    height: 20px;
  }

  .cf-resource-block-text {
    font-size: 18px;
  }

  .cf-resource-visual-block {
    width: 20%;
    margin-bottom: 10px;
  }

  .cf-resources-visual-grid {
    grid-row-gap: 30px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .cf-nav-dropdown-title-para {
    line-height: 22px;
  }

  .cf-nav-dropdown-title {
    font-size: 28px;
    line-height: 32px;
  }

  .cf-nav-dropdown-top {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .cf-dropdown-toggle-div {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .cf-visual-features-item-heading {
    font-size: 20px;
  }

  .cf-visual-features-item-image {
    margin-bottom: 10px;
  }

  .cf-visual-features-item.navbar {
    padding: 20px;
    font-size: 16px;
  }

  .cf-visual-features-items-container.nav {
    max-width: 230px;
    max-width: none;
  }

  .cf-brand-2 {
    max-width: 140px;
  }

  .cf-logos-social {
    display: none;
  }

  .cf-logos-social.open-nav {
    width: 60px;
    height: 60px;
    background-image: none;
    display: flex;
  }

  .cf-logos-social.open-nav-middle {
    width: 60px;
    height: 60px;
    background-image: none;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
  }

  .cf-connect-text {
    font-size: 18px;
  }

  .cf-connect-wrapper {
    margin-top: 60px;
    margin-left: 30px;
  }

  .cf-nav-4-links-left-container {
    width: auto;
    margin-right: 0;
  }

  .cf-nav-4-links-container {
    flex-direction: column;
    margin-top: 500px;
    margin-left: 0;
  }

  .cf-close-text {
    display: none;
  }

  .cf-close-contain {
    width: 16px;
    height: 16px;
    margin-right: 0;
  }

  .cf-close-button {
    padding: 16px;
    top: 40px;
    right: 20px;
  }

  .cf-brand-logo-nav-menu {
    width: 50%;
    padding-left: 0;
    display: none;
    position: absolute;
    top: auto;
    bottom: -15px;
    left: 75px;
    right: 0%;
  }

  .cf-menu-navigation-wrap {
    opacity: 0;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 30px;
    display: none;
  }

  .cf-brand-logo-4 {
    width: 50%;
    padding-left: 0;
  }

  .cf-navigation-4-container {
    max-width: none;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cf-logos-social-2 {
    display: none;
  }

  .cf-logos-social-2.open-nav {
    width: 60px;
    height: 60px;
    background-image: none;
    display: flex;
  }

  .cf-logos-social-2.open-nav-middle {
    width: 60px;
    height: 60px;
    background-image: none;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
  }

  .cf-navigation-4-container-2 {
    max-width: none;
  }

  .spark-simple-menu-button {
    padding-left: 0;
  }

  .spark-nav-link {
    margin-bottom: .5rem;
  }

  .spark-nav-menu {
    max-height: 90vh;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1rem .5rem;
  }

  .spark-rounded-edge-nav-bar-inner {
    padding: 0 12px;
  }

  .spark-rounded-edge-navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .spark-flex-row {
    align-items: flex-start;
  }

  .spark-flex-row.spark-centered {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
    align-items: center;
  }

  .spark-nav-link-2 {
    margin-bottom: .5rem;
  }

  .spark-square-menu-inner {
    background-color: var(--spark-library--white);
    padding-top: 0;
    padding-bottom: 0;
  }

  .spark-square-menu-with-links {
    padding-right: 0;
  }

  .spark-section {
    padding: 64px 20px;
  }

  .spark-section.spark-hero-background-image-with-centered-content {
    height: 70vh;
    padding-bottom: 64px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .spark-section h1 {
    max-width: 12ch;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .spark-section h2 {
    font-size: 2.5rem;
  }

  .paragraph-2, .text-block, .text-block.black {
    font-size: 24px;
  }

  .paragraph-card.middle.footer {
    font-size: 16px;
  }

  .paragraph-content {
    font-size: 14px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .section-2 {
    margin-top: 0;
  }

  .modal-card {
    flex-direction: column;
  }

  .modal__body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-3 {
    max-width: 95%;
    aspect-ratio: auto;
  }

  .text-block-2 {
    font-size: 16px;
  }

  .text-block-heading, .text-block-heading.black, .text-block-heading-no-hover {
    font-size: 24px;
  }
}

#w-node-_8802005b-3c77-459a-2df7-c4324dc4386d-a18b198c, #w-node-_0b457eec-423e-d079-c91d-b4c162ad0305-a18b198c {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_9a92843c-d2e1-32a6-4823-9766b35af2c8-a18b198c {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_1a6d1817-8111-a73d-f0f6-c401980d78b6-a18b198c, #w-node-_8802005b-3c77-459a-2df7-c4324dc4386d-5bd3ff93, #w-node-_0b457eec-423e-d079-c91d-b4c162ad0305-5bd3ff93 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_9a92843c-d2e1-32a6-4823-9766b35af2c8-5bd3ff93 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_1a6d1817-8111-a73d-f0f6-c401980d78b6-5bd3ff93 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 767px) {
  #w-node-_8802005b-3c77-459a-2df7-c4324dc4386d-a18b198c {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_0b457eec-423e-d079-c91d-b4c162ad0305-a18b198c {
    display: none;
  }

  #w-node-_1a6d1817-8111-a73d-f0f6-c401980d78b6-a18b198c, #w-node-_8802005b-3c77-459a-2df7-c4324dc4386d-5bd3ff93 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_0b457eec-423e-d079-c91d-b4c162ad0305-5bd3ff93 {
    display: none;
  }

  #w-node-_1a6d1817-8111-a73d-f0f6-c401980d78b6-5bd3ff93 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_9a92843c-d2e1-32a6-4823-9766b35af2c8-a18b198c, #w-node-_9a92843c-d2e1-32a6-4823-9766b35af2c8-5bd3ff93 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}
